body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

селектор { 
    font-family: 'Шрифт 1', 'Шрифт 2', Резервный шрифт, семейство шрифтов;
}

body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-family: 'Times New Roman', serif;
}

p {
    font: italic bold 16px/1.5 'Times New Roman', serif;
      color: black;
  }